%h3 Upload a video

= form_for video do |form|
  %p
    = form.label :original_video, 'Video file'
    = form.file_field :original_video
    = form.hidden_field :original_video_cache
  %p
    = form.submit 'Upload Video'
