!!! 5
%html{:lang => 'en'}
  %head
    %title Optical Flow
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    %header
      %h1 Optical Flow
    %nav
      %ul
        %li
          %h2= link_to 'Videos', '#', :class => 'active'
        %li
          %h2= link_to 'Workers'
    #content
      = yield
